
.form1 {
   width: 400px;
   height: 400px;
   margin: auto;
   position: relative;
   border-style: double;
 }

.form2 {
   width: 800px;
   height: 400px;
   margin: auto;
   position: relative;
   border-style: double;
 }

.leftspan{
	border:#000 1px solid;
	position: left;
    padding: 350px 40px 10px 800px;
    left: 300px;

}

.rightspan{
	border:#000 1px solid;
	position: right;
    padding: 350px 250px 10px 40px;
    margin: 10px 20px;
    left: 600px;

}


.savebutton{
	background-color: #ccebff;
	font-size: 18px;
	cursor: pointer;
	padding: 10px 20px;
	margin: 20px 700px;
}

.submitbutton{
	background-color: #ccebff;
	font-size: 18px;
	position: right;
	cursor: pointer;
	padding: 10px 20px;
	margin: 0px 900px;
}
