body {
	font: 18px Verdana;
	color: #FFF;
  background: #CCC;
}

.div1{
	color: #0000FF;
	background: #CCC;
}
.div2{
	color: #0000FF;
	background: #CCC;
}
.div3{
	color: #0000FF;
	background: #CCC;
}
.div4{
	color: #0000FF;
	background: #CCC;
}
.div5{
	color: #0000FF;
	background: #CCC;
}
.div6{
	color: #0000FF;
	background: #CCC;
}
.div7{
	color: #0000FF;
	background: #CCC;
}
.div8{
	color: #0000FF;
	background: #CCC;
}
.div9{
	color: #0000FF;
	background: #CCC;
}
.div10{
	color: #0000FF;
	background: #CCC;
}