table{
    border-collapse: separate;
    border-spacing: 30px;
    text-align: center;
}
#menu li {
	list-style-type:none;
	padding: 10px 0;
	
}
#menu .prev {
    float: left;
    padding-top: 10px;
}


#menu .next {
    float: right;
    padding-top: 10px;
}
#menu{
	padding: 30px 10px;
	width: 1200px;
	height: 70px
}